h1 {
    text-align: center;
}

h2 {
    margin-left: 3px;
    background-color: aqua;
    width: fit-content;
}

h3 {
    margin-left: 18px;
}

div {
    margin-left: 28px;
}

.result {
    color: red;
    font-weight: bold;
}

.wrapper0 {
    text-align: right;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.wrap1 {
    background-color: aliceblue;
    border: 2px solid blue;
    width: 1500px; 
}
/* 
#wrap2 {
    background-color: aliceblue;
}

#wrap3 {
    background-color: aliceblue;
} */

#wrapper1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#wrapper2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#wrapper3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

pre {
    height: fit-content;
    width: fit-content;
    margin: 1em 0; */
    padding: 1em;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: large;
    overflow-x: auto;
    /* white-space: pre-wrap; */
}

.pictbox {
    display: block;
    width: 300px;
    transform-origin: top left;
    border: solid 1px;
}

.pictbox:hover {
    transform: scale(3, 3);
}

.pink {
    background-color: lightpink;
}

.bolder {
    font-weight: bolder;
}

.flex {
    display: flex;
}
