h1 {
    text-align: center;
}

h2 {
    margin-left: 3px;
    background-color: aqua;
    width: fit-content;
}

h3 {
    margin-left: 18px;
}

div {
    margin-left: 28px;
}

.result {
    color: red;
    font-weight: bold;
}

.wrapper0 {
    text-align: right;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.wrap1 {
    background-color: aliceblue;
    border: 2px solid blue;
    width: 1500px; 
}
/* 
#wrap2 {
    background-color: aliceblue;
}

#wrap3 {
    background-color: aliceblue;
} */

#wrapper1 {
    display: flex;
    flex-direction: row;
    position: relative;
}

#wrapper2 {
    display: flex;
    flex-direction: row;
    position: relative;
}

#wrapper3 {
    display: flex;
    flex-direction: row;
    position: relative;
}

#fail1 {
    background-color: lightpink;
    color: red;
    font-size: 500%;
    width: 500px;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
}

#fail2 {
    background-color: lightpink;
    color: red;
    font-size: 500%;
    width: 500px;
    position: absolute;
    z-index: 100;
    top: 10%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
}

#notice {
    font-size:large;
    font-weight: bolder;
    background-color: yellow;
    position: absolute;
    z-index: 100;
    top: 53%;
    left: 65%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
}


#passed {
    background-color: lightgreen;
    color: blue;
    font-size: 500%;
    width: 500px;
    text-align: center;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
}

pre {
    height: fit-content;
    width: fit-content;
    margin: 1em 0;
    padding: 1em;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: large;
    overflow-x: auto;
    /* white-space: pre-wrap; */
}

.pictbox {
    display: block;
    width: 300px;
    transform-origin: bottom left;
    border: solid 1px;
}

.pictbox:hover {
    transform: scale(3, 3);
}

.pink {
    background-color: lightpink;
}

.bolder {
    font-weight: bolder;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 1500px;
}

.right {
    background-color: lightblue;
}
